form {
  width: 500px;
  margin: auto;
  text-align: left;
}

input, select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  width: 35%;
  display: inline-block;
}

.App {
  text-align: center;
}

